<md-toolbar ng-controller="HeaderController" class="md-whiteframe-z1">
  <div class="md-toolbar-tools">
    <i class="fa fa-bars fa-lg" ng-click="toggleLeft()" data-ng-show="authentication.user"></i>&nbsp;&nbsp;
    <span id="title"><a href="/#!/">Work Cruncher</a></span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <div layout="row" ng-hide="authentication.user">
          <md-button href="/#!/signup">Sign Up</md-button>
          <md-button href="/#!/signin">Sign In</md-button>
    </div>
    <span>
      <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
        <li class="dropdown">
          <md-button href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
          </md-button>
          <ul class="dropdown-menu">
            <li>
              <a href="/#!/settings/profile">Edit Profile</a>
            </li>
            <li>
              <a href="/#!/settings/accounts">Manage Social Accounts</a>
            </li>
            <li data-ng-show="authentication.user.provider === 'local'">
              <a href="/#!/settings/password">Change Password</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/auth/signout">Signout</a>
            </li>
          </ul>
        </li>
      </ul>  
    </span>
  </div>
</md-toolbar>