<div layout="column" layout-align="center center" data-ng-controller="AuthenticationController">
	<md-card>
		<md-toolbar class="md-theme-indigo" class="md-whiteframe-z1">
			<div class="md-toolbar-tools">
				Please Sign in
			</div>
		</md-toolbar>
		<md-content class="md-padding">
			<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
				<md-input-container>
					<label for="username">Username</label>
					<input type="text" id="username" name="username" data-ng-model="credentials.username" required>
				</md-input-container>
				<md-input-container>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" data-ng-model="credentials.password" required>
				</md-input-container>
				<div layout="row" layout-align="center center">
					<md-button href="/#!/signup">Sign up</md-button>
					<md-button type="submit" class="md-raised md-primary">Sign in</md-button>				
				</div>
			</form>
		</md-content>
		<md-divider></md-divider>
		<h5 class="col-md-12 text-center">Sign in using your social accounts</h5>
		<section layout="row" layout-align="center center">
			<md-button class="md-icon-button" href="/auth/facebook">
				<md-icon md-font-icon="fa fa-facebook fa-2x"></md-icon>
			</md-button>
			<md-button class="md-icon-button" href="/auth/twitter">
				<md-icon md-font-icon="fa fa-twitter fa-2x"></md-icon>
			</md-button>
			<md-button class="md-icon-button" href="/auth/google">
				<md-icon md-font-icon="fa fa-google-plus fa-2x"></md-icon>
			</md-button>
			<md-button class="md-icon-button" href="/auth/linkedin">
				<md-icon md-font-icon="fa fa-linkedin fa-2x"></md-icon>
			</md-button>
			<md-button class="md-icon-button" href="/auth/github">
				<md-icon md-font-icon="fa fa-github fa-2x"></md-icon>
			</md-button>		
		</section>
	</md-card>
</div>