<div layout="column" layout-fill layout-align="center center" data-ng-controller="JobsController">
    <md-content layout-fill>
        <md-card>
            <md-toolbar class="md-theme-indigo" class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                    New job
                </div>
            </md-toolbar>
            <form ng-submit="create()">
                <md-content layout="row" layout-padding>
                    <md-input-container flex>
                        <label class="control-label" for="name">Name</label>
                        <input type="text" data-ng-model="name" id="name">                            
                    </md-input-container>
                </md-content>
                <md-divider></md-divider>
                <md-content layout="row" layout-padding>
                    <md-content flex="50">
                        <md-button type="button" class="md-icon-button md-primary md-raised" ng-click="openAccounts($event)">
                            <i class="fa fa-search"></i> Lookup Account
                        </md-button>
                        <md-input-container>
                            <label class="control-label" for="account">Account</label>
                            <input type="text" readonly="readonly" data-ng-model="job.account.name">
                        </md-input-container>
                        <input hide data-ng-model="job.account._id" id="account" placeholder="Account">
                    </md-content>
                    <md-content flex="50">
                        <md-button type="button" class="md-icon-button md-primary md-raised" ng-click="openContacts($event)" ng-disabled="job.account._id == null">
                            <i class="fa fa-plus"></i>&nbsp;Add Contacts
                        </md-button>
                        <ul ng-repeat="contact in job.contacts">
                            <li>
                                {{contact.name.last}}, {{contact.name.first}} - {{contact.phone}}
                            </li>
                        </ul>
                    </md-content>                    
                </md-content>
                <md-divider></md-divider>
                <md-content layout="row" layout-padding>
                    <md-input-container flex>
                        <md-select ng-model="status" placeholder="Status">
                            <md-option ng-value="opt" ng-repeat="opt in statusOptions">{{ opt }}</md-option>
                        </md-select>
                            
                    </md-input-container>
                </md-content>
                <md-content layout="row" layout-padding>
                    <md-input-container flex>
                        <label class="control-label" for="description">Description</label>
                        <textarea data-ng-model="description" id="description"></textarea>                            
                    </md-input-container>
                </md-content>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-primary md-raised">Create New Job</md-button>
            </div>
            </form>
        </md-card>
    </md-content>
</div>


    <script type="text/ng-template" id="accountsModal.html">
        <md-dialog aria-label="Accounts Dialog">
            <md-toolbar class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                    Accounts
                </div>
            </md-toolbar>
            <md-content>
                <md-radio-group ng-model="selected.account">
                    <md-radio-button ng-repeat="a in accounts" ng-value="a">
                         {{a.name}} - {{a.address.street}}, {{a.address.city}}, {{a.address.province_state}}
                    </md-radio-button>
                </md-radio-group>
            </md-content>
            <div class="md-actions">
                <md-button class="md-raised" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-primary" ng-click="ok()">
                    Select
                </md-button>
            </div>
        </md-dialog>
    </script>

    <script type="text/ng-template" id="contactsModal.html">
        <md-dialog aria-label="Conacts Dialog">
            <md-toolbar class="md-whiteframe-z1">
                <div class="md-toolbar-tools">
                    Contacts
                </div>
            </md-toolbar>
            <md-content>
                <div ng-repeat="c in contacts">
                    <md-checkbox name="contacts" ng-model="c.checked" ng-change="updateContactList()"> {{c.name.first}}, {{c.name.last}} - {{c.address.street}}, {{c.address.city}}, {{c.address.province_state}}
                    </md-checkbox>
                </div>
            </md-content>
            <div class="md-actions">
                <md-button class="md-raised" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-primary" ng-click="ok()">
                    Select
                </md-button>
            </div>
        </md-dialog>
    </script>
</section>