@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.fa-facebook{
	color: #3b5998;
}

.fa-google-plus{
	color: #d62d20;
}

.fa-twitter{
	color: #55acee;
}

.fa-linkedin{
	color: #0077b5;
}

.fa-github{
	color: #7b0099;
}

.md-button:not(.md-fab){
	min-width: 1px;
}